
{{#if products}}
<div class="row">
    <div class="col-sm-6 xol-md-6 col-md-offser-3 col-sm-offset-3">
        <ul class="list-group">
            {{#each products}}
            <li class="list-group-item">
                <span class="badge badge-pill badge-secondary">{{this.qty}}</span>
                    <strong>{{this.item.title}} &nbsp;</strong>
                    <span class="label label-success">Rs.{{this.price}}</span>
                 <div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle float-right" data-toggle="dropdown">
    Action
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/add/reduce/{{this.item._id}}">Reduce by 1</a>
    <a class="dropdown-item" href="/add/remove/{{this.item._id}}">Remove all</a>
   
  </div>
</div>   
</li>
{{/each}}
            
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 xol-md-6 col-md-offser-3 col-sm-offset-3">
        <strong>Total:Rs.{{totalPrice}}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 xol-md-6 col-md-offser-3 col-sm-offset-3">
        <a href="/add/checkout" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>
{{else }}
<div class="row">
    <div class="col-sm-6 xol-md-6 col-md-offser-3 col-sm-offset-3">
        
        <h2>No items in the cart</h2>
    </div>
</div>
{{/if}}
