<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <div id="success" class="alert alert-success {{#if noMessages}}d-none{{/if}}">
    {{successMsg}}
    </div>
  </div>
</div>

{{# each products}}
<div class="row">
  {{# each this}}
  <div class="col-sm-6 col-md-3">
      <div class="card" style="margin-top:10px;">
        <img class="card-img-top" src={{ this.imagepath }}  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ this.title }}</h5>
        <p class="card-text">{{this.description}}</p>
        <div>
        <div class='price pull-left'>Rs.{{ this.price }}</div>
            <a href="/add/add-to-cart/{{this._id}}" class="btn btn-success pull-right">Add to cart</a>
        </div>
        
      </div>
    </div>
  </div>
  
   {{/each}}
  
</div>
{{/each}}

<div class="pagination" style="justify-content: center;">
  <div class="page" >
    {{#ifCond currentPage  pages }}
    <a href='/{{inc currentPage }}'>
    <span><strong>Page {{inc currentPage }}</strong> 
      <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
    </span>
    </a>
    {{/ifCond }}
    {{#ifCond1 currentPage  pages }}
    <a href="/{{ dec currentPage }}">
    <span><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    Page {{dec currentPage}}  &nbsp; </span></a> 
    <a href="/{{inc currentPage}}">
    <span>
      Page {{ inc currentPage}}
       <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
     </span></a>
     {{/ifCond1}}
     {{#ifCond2 currentPage  pages}}
     <a href="/{{ dec currentPage  }}">
     <span>
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
     Page  {{dec currentPage  }}
    </span>
     </a>
     {{/ifCond2}}

  </div>
</div>


